.bayan {
  background: #eee;
}
.pane {
  border: 1px solid gray;
  padding: 2px 5px;
}
.header {
  font-weight: bold;
  background-color: white;
}

.body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 500ms linear 0;
}
.open .body {
  max-height: 100%;
}

.counter {
  color: blue;
}
