doctype html
html
  head
    title Search form builder
    link rel="stylesheet" type="text/css" href="builder.css"
    script type="text/javascript" src="jquery.js"
    script type="text/javascript" src="builder.js"
    script type="text/javascript" src="vasya.js"
    script type="text/javascript" src="application.js"

  body
    .builder
      .buttons
        .button data-field="name" name
        .button.on data-field="age" age
        .button data-field="gender" gender

      .fields
        #user_name.field
          ' user name
          .close &times;
        #user_age.field.on
          ' user age
          .close &times;
        #user_gender.field
          ' user gender
          .close &times;


