body
  font-family: Roboto

.collegues div
  padding: 10px
  background: rgba(#005, 0.1)

.friends div
  padding: 10px
  background: rgba(#050, 0.1)

.builder
  .buttons, .field
    overflow: hidden

  .buttons
    .button
      float: left
      outline: 1px solid gray
      &:hover
        color: red
      &.on
        font-weight: bold
        color: blue

  .fields
    .field
      outline: 1px solid gray
      display: none
      &.on
        display: block
      .close
        float: right
