body {
  font-family: Roboto;
}

div {
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.builder .buttons, .builder .field {
  overflow: hidden;
}
.builder .buttons .button {
  float: left;
  outline: 1px solid gray;
}
.builder .buttons .button.on {
  font-weight: bold;
}

.field .close {
  float: right;
}

.fields .field {
  outline: 1px solid gray;
}
