body {
  font-family: Roboto;
}

.collegues div {
  padding: 10px;
  background: rgba(0, 0, 85, 0.1);
}

.friends div {
  padding: 10px;
  background: rgba(0, 85, 0, 0.1);
}

.builder .buttons, .builder .field {
  overflow: hidden;
}
.builder .buttons .button {
  float: left;
  outline: 1px solid gray;
}
.builder .buttons .button:hover {
  color: red;
}
.builder .buttons .button.on {
  font-weight: bold;
  color: blue;
}
.builder .fields .field {
  outline: 1px solid gray;
  display: none;
}
.builder .fields .field.on {
  display: block;
}
.builder .fields .field .close {
  float: right;
}
